<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%/site/wwwroot/startup.sh"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%/LogFiles/python/stdout.log"
                  startupTimeLimit="600">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%home%/site/wwwroot/.python_packages;%home%/site/wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 